node_modules
dist
data
uploads
.env
.env.local
.DS_Store
*.log

# Local Netlify folder
.netlify

# Android/Gradle local output
android/.gradle
android/build
android/app/build
android/local.properties
